<launch>
    <!-- Map Server -->
    <arg name="map_file" default="$(find betabot_nav_amcl)/map/map2d.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- AMCL Node -->
    <node name="amcl" pkg="amcl" type="amcl" output="screen">
        <!-- <remap from="scan" to="<YOUR PACKAGE NAME>/laser/scan"/> -->
        <param name="odom_frame_id" value="odom"/>
        <param name="odom_model_type" value="diff-corrected"/>
        <param name="odom_alpha1" value="0.12"/>
        <param name="odom_alpha2" value="0.12"/>
        <param name="odom_alpha3" value="0.12"/>
        <param name="odom_alpha4" value="0.12"/>
        <param name="base_frame_id" value="base_footprint"/>
        <param name="global_frame_id" value="map"/>
        <param name="use_map_topic" value="true"/>

        <param name="laser_max_beams" value="2000"/>
        <param name="laser_min_range" value="0.1"/>
        <param name="laser_max_range" value="8.0"/>
        <param name="min_particles" value="100"/>
        <param name="max_particles" value="1000"/>
        <!-- Initial pose mean ( Start at origin)-->
        <param name="initial_pose_x" value="0.0" />
        <param name="initial_pose_y" value="0.0" />
        <param name="initial_pose_a" value="0.0" />
        <!-- Increase tolerance because the computer can get quite busy -->
        <param name="transform_tolerance" value="0.5"/>
    </node>

    <!-- Move Base -->
    <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
        <param name="base_global_planner" value="navfn/NavfnROS"/>
        <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
        <rosparam file="$(find betabot_nav_amcl)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find betabot_nav_amcl)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find betabot_nav_amcl)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find betabot_nav_amcl)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find betabot_nav_amcl)/config/base_local_planner_params.yaml" command="load" />
    </node>

</launch>